@{
    ViewBag.Title = "SirboniArt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    SirboniArt
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:sirboniart@gmail.com">sirboniart@gmail.com</a><br />
</address>