@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sirboni Art</h1>
    <p class="lead">Site under construction</p>
    <p><a href="https://www.sirboniart.com/" class="btn btn-primary btn-lg">SirboniArt &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sirboni Art</h2>
        <p>
            Site under construction
        </p>
        <p><a class="btn btn-default" href="https://www.sirboniart.com/">SirboniArt &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sirboni Art</h2>
        <p>Site under construction</p>
        <p><a class="btn btn-default" href="https://www.sirboniart.com/">SirboniArt &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sirboni Art</h2>
        <p>Site under construction</p>
        <p><a class="btn btn-default" href="https://www.sirboniart.com/">SirboniArt &raquo;</a></p>
    </div>
</div>